{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "prettier"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest"
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "printWidth": 80,
        "tabWidth": 2,
        "ignoredNodes": ["TemplateLiteral"]
      }
    ],
    "eqeqeq": "error",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "comma-dangle": ["error", "never"],
    "react/jsx-uses-vars": "error",
    "linebreak-style": ["error", "unix"],
    "react/prop-types": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
